* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    border: 2px solid white;
    border-radius: 20px;
    padding: 2rem;
    background-color: #333;
    max-width: 800px;
}

main > h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

main #search-form {
    display: flex;
}

main #search-form form {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

main #search-form input {
    width: 100%;
    flex: 1;
    gap: 0.5rem;
    padding: 0 1rem;
    height: 32px;
    border-radius: 5px;
    border: none;
}

main #search-form button {
    border: none;
    padding: 0rem 2rem;
    background-color: green;
    border-radius: 5px;
    height: 32px;
    color: white;
}

main #weather-info  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #weather-info .weather-data h2 {
    font-size: 18px;
    margin-bottom: 0.2rem;
    font-weight: 400;
}


main #weather-info .weather-data span {
    font-size: 2rem;
    font-weight: bold;
}

